# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Unity Files
Library
Temp
*. pidb
*. unityproj
*.. sln
*. userprefs
obj/Debug/Assembly-CSharp-vs.csprojResolveAssemblyReference.cache
obj/Debug/Assembly-CSharp.pdb
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
Clockwork.sln
Clockwork-csharp.sln
.vs/Clockwork-csharp/v14/.suo
.vs/Clockwork-csharp/v14/.suo
